 <h6 style="text-align:right;">Nahuel Nicolas Marin<h6>
<p align=center><img src=https://d31uz8lwfmyn8g.cloudfront.net/Assets/logo-henry-white-lg.png><p>

<h1>Proyecto Individual N°1<h1>

<h3>Extracción Transformación y Carga de datos(ETL)<h3>

In [1]:
#importamos librerías necesarias para el proceso de ETL
import pandas as pd

<h4>Extracción

In [2]:
#Extracción de los datos
df_amazon=pd.read_csv('./MLOpsReviews/amazon_prime_titles.csv')
df_disney=pd.read_csv('./MLOpsReviews/disney_plus_titles.csv')
df_hulu=pd.read_csv('./MLOpsReviews/hulu_titles.csv')
df_netflix=pd.read_csv('./MLOpsReviews/netflix_titles.csv')

In [3]:
#Me fijo si hay nulos y cuántos hay
df_amazon.isnull().sum()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

<h4>Transformación<h4>

In [3]:
#Reemplacé los nulos según pide la actividad
df_amazon['rating'].fillna('G', inplace=True)
df_disney['rating'].fillna('G', inplace=True)
df_hulu['rating'].fillna('G', inplace=True)
df_netflix['rating'].fillna('G', inplace=True)

In [4]:
df_hulu[df_hulu.notnull()].head(2)
#MES dia, año

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,G,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."

In [4]:
#Cambio de formato de las fechas
df_amazon['date_added']=pd.to_datetime(df_amazon['date_added'])
df_amazon['date_added']=df_amazon['date_added'].dt.strftime('%Y/%m/%d')
df_disney['date_added']=pd.to_datetime(df_disney['date_added'])
df_disney['date_added']=df_disney['date_added'].dt.strftime('%Y/%m/%d')
df_hulu['date_added']=pd.to_datetime(df_hulu['date_added'])
df_hulu['date_added']=df_hulu['date_added'].dt.strftime('%Y/%m/%d')
df_netflix['date_added']=pd.to_datetime(df_netflix['date_added'])
df_netflix['date_added']=df_netflix['date_added'].dt.strftime('%Y/%m/%d')
df_hulu.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,2021/10/24,2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,2021/10/23,2020,G,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."

<h4>Proceso de crear el Id<h4>

In [5]:
#guardo cada df en un diccionario 
df_complete={'df_amazon':df_amazon['show_id'], 'df_disney':df_disney['show_id'], 'df_hulu':df_hulu['show_id'], 'df_netflix':df_netflix['show_id']}

In [6]:
#declaro variables y listas
list=['a','d','h','n']
Id_a=[]
Id_d=[]
Id_h=[]
Id_n=[]
list_ids=[Id_a, Id_d, Id_h, Id_n]
i=-1
var_aux=''

#itero el diccionario para crear una lista de listas donde cada una de las listas contiene el ID de cada plataforma
for df in df_complete:
    df_iterar=df_complete[df]
    i=i+1
    j=-1
    for regis in df_iterar:
        j+=1
        var_aux=list[i] + df_iterar.iloc[j]
        list_ids[i].append(var_aux)

#modifico los df agregando el ID
df_amazon["id"]=list_ids[0]
df_disney["id"]=list_ids[1]
df_hulu["id"]=list_ids[2]
df_netflix["id"]=list_ids[3]

In [7]:
df_amazon.tail(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ...",as9667
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...",as9668

<h4>Ponemos todos los registros en minúsculas<h4>

In [7]:
df_amazon=df_amazon.applymap(lambda s: s.lower() if isinstance(s, str) else s)
df_disney=df_disney.applymap(lambda s: s.lower() if isinstance(s, str) else s)
df_hulu=df_hulu.applymap(lambda s: s.lower() if isinstance(s, str) else s)
df_netflix=df_netflix.applymap(lambda s: s.lower() if isinstance(s, str) else s)

<h4>Cambiamos el formato de la duración</h4>

In [8]:
df_amazon[['duration_int','duration_type']]=df_amazon['duration'].str.split(' ', expand=True)
df_disney[['duration_int','duration_type']]=df_disney['duration'].str.split(' ', expand=True)
df_hulu[['duration_int','duration_type']]=df_hulu['duration'].str.split(' ', expand=True)
df_netflix[['duration_int','duration_type']]=df_netflix['duration'].str.split(' ', expand=True)

In [10]:
df_netflix.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
0,s1,movie,dick johnson is dead,kirsten johnson,NaN,united states,2021/09/25,2020,pg-13,90 min,documentaries,"as her father nears the end of his life, filmm...",ns1,90,min
1,s2,tv show,blood & water,NaN,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021/09/24,2021,tv-ma,2 seasons,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t...",ns2,2,seasons

In [9]:
#remplazo nulos de cast por unknow
df_amazon['cast']=df_amazon['cast'].fillna('Unknown')
df_disney['cast']=df_disney['cast'].fillna('Unknown')
df_hulu['cast']=df_hulu['cast'].fillna('Unknown')
df_netflix['cast']=df_netflix['cast'].fillna('Unknown')

<h4>Guardo los DataFrames en formato csv</h4>

In [13]:
df_amazon.to_csv('Amazon_clear.csv')
df_disney.to_csv('Disney_clear.csv')
df_hulu.to_csv('Hulu_clear.csv')
df_netflix.to_csv('Netflix_clear.csv')

In [10]:
#concateno cada df de la carpeta rating en un solo df 
df_rating=pd.concat([pd.read_csv('MLOpsReviews/ratings/1.csv'),pd.read_csv('MLOpsReviews/ratings/2.csv'),pd.read_csv('MLOpsReviews/ratings/3.csv'),pd.read_csv('MLOpsReviews/ratings/4.csv'),pd.read_csv('MLOpsReviews/ratings/5.csv'),pd.read_csv('MLOpsReviews/ratings/6.csv'),pd.read_csv('MLOpsReviews/ratings/7.csv'),pd.read_csv('MLOpsReviews/ratings/8.csv')])

In [11]:
#cambio el nombre de la columna rating
df_rating = df_rating.rename(columns = {'rating' : 'score'})

In [5]:
#exporto en formato csv
df_rating.to_csv('Rating.csv')

In [32]:
df_rating.head(5)

   userId  score   timestamp movieId
0       1    1.0  1425941529   as680
1       1    4.5  1425942435  ns2186
2       1    5.0  1425941523  hs2381
3       1    5.0  1425941546  ns3663
4       1    5.0  1425941556  as9500

In [13]:
#Creamos una columna con el nombre de la plataforma
df_amazon['platform']='amazon'
df_disney['platform']='disney'
df_hulu['platform']='hulu'
df_netflix['platform']='netflix'
df_amazon.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type,platform
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021/03/30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113,min,amazon
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021/03/30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min,amazon

In [14]:
#concateno los datasets de cada plataforma en un solo dataframe
df_unique=pd.concat([df_amazon, df_disney, df_hulu, df_netflix])

In [15]:
#Exporto en formato csv
df_unique.to_csv('plataformas_unique.csv')

In [15]:
#Sacamos el promedio del score por pelicula
score_prom = df_rating.groupby("movieId")
score_prom = score_prom["score"].mean()

In [16]:
#guardo en un nuevo DataFrame
df_score_prom = pd.DataFrame(score_prom)
df_score_prom.reset_index()

      movieId     score
0         as1  3.467131
1        as10  3.439571
2       as100  3.609302
3      as1000  3.556701
4      as1001  3.585288
...       ...       ...
22993   ns995  3.515625
22994   ns996  3.626518
22995   ns997  3.530526
22996   ns998  3.582645
22997   ns999  3.494781

[22998 rows x 2 columns]

In [21]:
df_rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11024289 entries, 0 to 1499999
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   score      float64
 2   timestamp  int64
 3   movieId    object
dtypes: float64(1), int64(2), object(1)
memory usage: 420.5+ MB

In [17]:
#Exporto en csv
df_score_prom.to_csv('prom_movies.csv', index = False)

In [41]:
#creo un Dataframe con el score promedio de cada pelicula 
df_withscore=df_unique.merge(df_score_prom, left_on="id", right_on="movieId")

In [42]:
#exporto en formato csv
df_withscore.to_csv('plataformas_withscore.csv')